/*  your css code here. If applicable */
*{
	margin: 0;
}
body{
	background-color: #f8f8f8;
}
.book-library{
	background-color: #f8f8f8;
	margin: 0 25px;
/* 	box-shadow:  3px 3px 3px 1px gray;  */
	border: 0.1px solid gray;
	border-radius: 5px;
}
h1{
	color: black;
	text-align: center;
	margin: 20px 0;
}
.whit{
	background-color: white;
	padding: 20px;
	margin: 20px 0;
}
img{
	display: block;
	margin: 0 auto;
}
h2{
	font-size: 18px;
	font-weight: bold;
	margin: 0 10px;
}
p{
	font-size: 11px;
	color: #777777;
	margin: 0 10px;
}
.price{
	text-align: center;
	color: white;
	padding: 10px;
	background-color: #2ecc71;
	margin: 0 10px;
	border-radius: 4px;
}